{% extends "partials/base.html" %}

{% block title %}
Artists Page
{% endblock title %}

{% block content %}
<h3>All Artists</h3>

<ul>
{% for artist in artists %}
    <img src="{{ artist.image.url }}" alt="{{ artist }} image" width="300" height="300">
    <li><a href="{% url 'core:artist_detail' artist.pk %}">{{ artist }}</a></li>
    <p>Debut Year: {{ artist.debut_year }}</p>
        Albums by {{ artist }}
        <ul>
        {% for album in artist.albums.all %}
            <li>{{ album.title }}</li>
        {% endfor %}
        </ul>

{% endfor %}
</ul>

{% endblock content %}