<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Music Store{% endblock title %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'core:artists' %}">Artists</a></li>
                <li><a href="{% url 'core:albums' %}">Albums</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>